@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-orange: #ff624c;
  --color-black: #000;
  --color-white: #fff;
  --color-cyberYellow: #fed550;
  --color-purple: #1a237b;
  --color-gray: #c4c4c4;
  --color-black01: #303030;
  --color-black01op05: #3030300d;
  --color-red01: #bd0034;
  --color-white01: #f4f4f4;
  --color-skyblue01: #469bdb;
  --color-blue01: #283b82;
  --color-white02: #d9d9d9;
  --color-red02: #eb001b;
  --color-black02op25: #30303040;
  --color-black02op50: #30303080;
  --color-white03: #8c8c8c;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1700px;
}

/* 
----> Custom CSS
*/

/* Select */

.customSelect .ant-select-selector {
  border: none !important;
}

.customSelect .ant-select-selection-placeholder {
  color: #303030 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  box-shadow: none !important;
}

.search_products {
  outline: none;
}

.mobile_search_products {
  outline: none;
  font-size: 10px !important;
}

.word-space-sm {
  word-spacing: 4px;
}

.word-space-md {
  word-spacing: 8px;
}

.word-space-lg {
  word-spacing: 12px;
}

.word-space-xl {
  word-spacing: 20px;
}

.ting .ant-progress-text {
  text-align: center;
  width: 100%;
}

.custom-collapse {
  background-color: white !important;
  padding: 15px !important;
  border: none !important;
  margin-bottom: 24px !important;
}

.custom-collapse:last-child {
  margin-bottom: 0 !important;
}

.custom-collapse .ant-collapse-content {
  border-top: none !important;
}

.custom-collapse .ant-collapse-header {
  column-gap: 20px !important;
  align-items: center !important;
  padding: 16px 16px !important;
}

.custom-collapse .ant-collapse-expand-icon {
  height: 32px !important;
  width: 32px !important;
  border-radius: 50% !important;
  background-color: #ff624c !important;
  color: white !important;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-inline-end: 0 !important;
}

.custom-collapse
  .ant-collapse-header[aria-expanded="true"]
  .ant-collapse-expand-icon {
  background-color: transparent !important;
  border: 1px solid #ff624c !important;
  color: #ff624c !important;
}

.custom-collapse .ant-collapse-content-box {
  padding: 0 16px !important;
}

.custom-collapse .ant-collapse-header-text {
  font-family: "Poppins", sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 30px !important;
  color: #000 !important;
}

.custom-collapse .ant-collapse-content-box p {
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 30px !important;
  color: #303030 !important;
}

.custom_drawer .ant-drawer-header {
  border: none !important;
}

.custom_drawer .ant-drawer-close {
  position: absolute;
  top: 15px;
  right: 0px;
  cursor: pointer;
  color: #ff624c;
  border: 1px solid #ff624c;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}

.custom_drawer .ant-drawer-close:hover {
  background-color: #ff624c !important;
  color: white !important;
  border: none !important;
  transition: all 0.3s ease-in-out !important;
}

@media (min-width: 320px) and (max-width: 575.99px) {
  .custom-collapse .ant-collapse-header-text {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .custom-collapse .ant-collapse-content-box p {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .custom-collapse .ant-collapse-header {
    column-gap: 10px !important;
    padding: 12px 12px !important;
  }

  .custom-collapse .ant-collapse-expand-icon {
    height: 25px !important;
    width: 30px !important;
  }
}
